body{
    margin: 0;
    background: #f2f2f2;
    font-family: 'Dubai';
    overflow-x: hidden;
}

/*====== HEADER =========*/
header{
    position: relative;
    top: -30px;
    width: 100%;
}
.hero{
    background: url(../img/cancha.jpg);
    height: 100vh;
    background-size: cover;
    text-align: center;
}

blockquote{
    color:white;
    font-size: 28px;
    text-align: right;
    position: relative;
    top: 420px;
}

/*======= BARRA DE NAVEGACION ======*/
nav{
    position: sticky;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 45px;
    background: black;
    padding: 10px;
    z-index: 11;
}
nav button{
    position: relative;
    left: 600px;
    width: 300px;
    height: 43px;
    border: 1px solid white;
    border-radius: 5px;
    background: none;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    box-sizing: border-box;
}
.nav-container i{
    margin: auto 10px;
}

.nav-container button:hover i{
    transition: .5s;
    color:rgb(45, 196, 45);
}

.userSection{
    display: inline-block;
    position: relative;
    left: 920px;
    font-size: 16px;
    letter-spacing: 2px;
}
.userSection a{
    text-decoration: none;
    color: rgb(156, 156, 156);
    margin: 0px;
    padding: 5px 20px;
}
.userSection a:hover{
    color: white;
}

/*===== SECTION =======*/
.main{
    padding: 30px;
    text-align: center;
}
.main h1{
    font-size: 30px;
    padding: 30px;
}
.steps{
    display: inline-block;
    margin: 40px;
    font-size: 18px;
}
.steps img{
    width: 250px;
    height: 250px;
    padding: 30px;
}

.coment-users{
    text-align: center;
}
.coment{
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
    height: 320px;
    display: inline-block;
    margin: 40px;
    padding: 20px;
}
.coment img{
    border-radius: 100px;
    width: 150px;
    height: 150px;
    padding: 20px;
}

/*====== FOOTER ======*/

.end{
    background: black;
    margin-top: 70px;
    background-color: black;
    -webkit-mask-image: url("../img/footer.svg");
    mask-image: url("../img/footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    color: white;
    text-align: center;
    line-height: 35px;
    padding: 50px;
    padding-bottom: 10px;
}

.end .rightSide{
    display: inline-block;
    margin-right: 240px;
    padding: 10px;
    text-align: left;
}
.rightSide ul li{
    margin: -10px;
    color: rgb(156, 156, 156);
}
.end .rightSide a{
    text-decoration: none;
    color: rgb(156, 156, 156);
}
.end .rightSide a:hover{
    color: white;
}

.end .leftSide{
    display: inline-block;
    margin-left: 240px;
    vertical-align: top;
}

.leftSide .socialNetwork{
    display: inline-block;
    height: 45px;
}

.socialNetwork i{
    position: relative;
    top: 50px;
    margin: 20px 10px;
    font-size: 45px;
    color: rgb(202, 202, 202);
    -webkit-box-reflect: below 5px linear-gradient(transparent, black 300%);
}
.facebook i:hover{
    color: rgb(4, 4, 214);
    transition: 0.3s ease;
}
.instagram i:hover{
    color: rgb(136, 43, 223);
    transition: 0.3s ease;
}

.youtube i:hover{
    color: red;
    transition: 0.3s ease;
}

.end p{
    margin: 0;
    padding: 0;
}