body{
    margin: 0;
    background: #f2f2f2;
    font-family: 'Ubuntu';
    overflow-x: hidden;
}

label{
    font-family: 'zen dots';
}

/*====== HEADER =========*/
header{
    position: relative;
    top: -30px;
    width: 100%;
}
.hero{
    background: url(../img/cancha.jpg);
    height: 100vh;
    background-size: cover;
    text-align: center;
}

blockquote{
    color:white;
    font-family: 'zen dots';
    font-size: 28px;
    text-align: right;
    position: relative;
    top: 420px;
}

/*======= BARRA DE NAVEGACION ======*/
nav{
    position: sticky;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 50px;
    background: black;
    padding: 10px;
    z-index: 11;
}

.btnHome{
    height: 40px;
    position: relative;
    top: 5px;
    display: inline-block;
    left: 20px;
    color: rgb(156, 156, 156);
    font-size: 20px;
    padding: 0px;
}

.btnHome p{
    display: inline-block;
    position: relative;
    margin: 0px;
    font-family: 'zen dots';
    font-size: 20px;
    font-weight: bold;
}
.btnHome a{
    color: rgb(156, 156, 156);
}
.btnHome a:hover{
    color: white;
}

nav button{
    position: relative;
    top: 2px;
    left: 450px;
    width: 300px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    background: none;
    color: white;
    font-family: 'zen dots';
    font-size: 14px;
    letter-spacing: 2px;
    box-sizing: border-box;
}
.nav-container i{
    margin: auto 10px;
}

.nav-container button:hover i{
    transition: .5s;
    color:rgb(45, 196, 45);
}

.userSection{
    display: inline-block;
    position: relative;
    top: 2px;
    left: 800px;
    font-size: 16px;
    letter-spacing: 2px;
}
.userSection a{
    text-decoration: none;
    font-family: 'zen dots';
    font-size: 12px;
    color: rgb(156, 156, 156);
    margin: 0px;
    padding: 5px 20px;
}

.userSection i{
    color: white;
    color: rgb(156, 156, 156);
    position: relative;
    right: 20px;
    bottom: 3px;
}

.userSection a:hover{
    color: white;
}

.usrBtn:hover a, .usrBtn:hover i{
    color: white;
}

.userBarHidden{
    background: black;
    position: absolute;
    top: -10%;
    left: 1159px;
    width: 200px;
    text-align: center;
    z-index: 1;
    transition: .5s ease;
}
.userBar{
    top: 65px;
}

.userBar a{
    display: block;
    padding: 8px;
    box-sizing: border-box;
    color: white;
    font-family: 'zen dots';
    font-size: 11px;
    text-decoration: none;
    letter-spacing: 2px;
    width: 200px;
    height: 34px;
}
.userBar a:hover{
    border: 2px solid black;
    background: white;
    color: black;
}

/*===== SECTION =======*/
.main{
    padding: 30px;
    text-align: center;
}
.main h1{
    font-size: 30px;
    padding: 30px;
}
.steps{
    display: inline-block;
    margin: 40px;
    font-size: 18px;
}
.steps img{
    width: 250px;
    height: 250px;
    padding: 30px;
}

.coment-users{
    text-align: center;
    padding: 50px 60px;
}
.username-comment{
    font-family: 'Audiowide';
}
.coment{
    display: inline-block;
    background: black;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    color: white;
    border-radius: 15px;
    width: 300px;
    height: 310px;
    margin: 40px;
    padding: 20px;
    overflow: hidden;
}
.coment img{
    border-radius: 100px;
    width: 150px;
    height: 150px;
    padding: 20px;
}

/*====== FOOTER ======*/

.end{
    background: black;
    margin-top: 70px;
    background-color: black;
    -webkit-mask-image: url("../img/footer.svg");
    mask-image: url("../img/footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    color: white;
    text-align: center;
    line-height: 35px;
    padding: 50px;
    padding-bottom: 10px;
}

.end .rightSide{
    display: inline-block;
    margin-right: 240px;
    padding: 10px;
    text-align: left;
}
.rightSide ul li{
    margin: -10px;
    font-family: 'zen dots';
    color: rgb(156, 156, 156);
    font-size: 14px;
    list-style: none;
}
.end .rightSide a{
    text-decoration: none;
    color: rgb(156, 156, 156);
    font-size: 14px;
}
.end .rightSide a:hover{
    color: white;
}

.end .leftSide{
    display: inline-block;
    margin-left: 240px;
    vertical-align: top;
}

.leftSide .socialNetwork{
    display: inline-block;
    height: 45px;
}

.socialNetwork i{
    position: relative;
    top: 50px;
    margin: 20px 10px;
    font-size: 45px;
    color: rgb(202, 202, 202);
    -webkit-box-reflect: below 5px linear-gradient(transparent, black 300%);
}
.facebook i:hover{
    color: rgb(4, 4, 214);
    transition: 0.3s ease;
}
.instagram i:hover{
    color: rgb(136, 43, 223);
    transition: 0.3s ease;
}

.youtube i:hover{
    color: red;
    transition: 0.3s ease;
}

.bottom-footer p{
    display: inline-block;
    font-family: 'Zen dots';
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

.bottom-footer .imgLogoFooter{
    position: relative;
    top: 3px;
    width: 40px;
    vertical-align: bottom;
}