<div class="container" id="container">
    <div class="inputData">
        <input type="text" id="inputName" autocomplete="off">
        <label>Nombre:</label>
    </div>
    <div class="inputData">
        <input type="email" id="inputEmail" autocomplete="off">
        <label>Email:</label>
    </div>
    <div class="inputData">
        <input type="text" id="inputText" autocomplete="off">
        <label>Motivo:</label>
    </div>
    <input type="submit" id="inputSubmit" value="ENVIAR">
    <p class="messageError messageHidden" id="message">Todos los campos son obligatorios</p>
</div>