<div class="container">
    <div class="question-container" id="cuestion-container">
        <div class="question" id="question"><p>¿Qué es Tu Turno?</p></div>
        <div class="answer" id="answer">
            <p id="pAnswer">Es una aplicación web destinada a visualizar y solicitar turnos disponibles para canchas de fútbol sala asociadas a la misma. Contamos con una extensa variedad de locales disponibles y estamos en constante mejora y crecimiento.</p>
        </div>
        <div class="question" id="question"><p>¿Que horarios se encuentran disponibles?</p></div>
        <div class="answer" id="answer">
            <p id="pAnswer">Los horarios disponibles están establecidos entre la franja horaria de 14hs a 00hs. Se encuentran listados los horarios aún disponibles para cada cancha.</p>
        </div>
        <div class="question" id="question"><p>¿Como puedo registrar mi cancha?</p></div>
        <div class="answer" id="answer">
            <p id="pAnswer">En el inferior de nuestra aplicación web se encuentra el link para registrar una cancha. Luego de completar el formulario, revisaremos la información y nos estaremos poniendo en contacto a la brevedad.</p>
        </div>
        <div class="question" id="question"><p>¿Que métodos de pagos están disponibles?</p></div>
        <div class="answer" id="answer">
            <p id="pAnswer">Por el momento solo aceptamos pagos a traves de Ualá o MercadoPago. Estamos trabajando para ofrecer nuevas opciones.</p>
        </div>
        <div class="question" id="question"><p>¿Puedo cancelar un turno?</p></div>
        <div class="answer" id="answer">
            <p id="pAnswer">Por el momento no contamos con la opción solicitada. En un futuro incluiremos la misma, pero con un reembolso del 75% del valor pagado.</p>
        </div>
    </div>
</div>