
    <header>
        <div class="hero">
            <div class="container-header">
                <blockquote>
                    <p>"Puedes ser todo lo virtuoso que quieras, pero no eres nadie sin tu equipo."</p>
                    <footer>Zinedine Zidane</footer>
                </blockquote>
            </div>
        </div>
    </header>
    <section>
        <div class="main">
            <h3>En TuTurno estamos en constante renovaci칩n para mejorar tu experiencia y brindarte una m치s amplia variedad de canchas disponibles para tu elecci칩n.</h3>
            <h1>Como conseguir tu turno</h1>
            <div>
                <div class="steps">
                    <img src="img/buscar1.png" alt="buscar cancha">
                    <p>1) Buscar la cancha</p>
                </div>
                <div class="steps">
                    <img src="img/elegir3.png" alt="seleccionar cancha">
                    <p>2) Seleccionar el turno que deseas</p>
                </div>
                <div class="steps">
                    <img src="img/pagar1.png" alt="pagar">
                    <p>3) Pagar la se침a por turno</p>
                </div>
            </div>
        </div>
        <div class="coment-users">
            {{#each data}}
            <div class="coment">
                <img src="img/userPic/{{this.userPic}}" alt="foto-perfil">
                <h3 class="username-comment">{{this.username}}</h3>
                <p>{{this.comment}}</p>
            </div>
            {{/each}}
        </div>
    </section>