
    <header>
        <div class="hero">
            <div class="container-header">
                <blockquote>
                    <p>"Puedes ser todo lo virtuoso que quieras, pero no eres nadie sin tu equipo."</p>
                    <footer>Zinedine Zidane</footer>
                </blockquote>
            </div>
        </div>
    </header>
    <section>
        <div class="main">
            <h3>En TuTurno estamos en constante renovación para mejorar tu experiencia y brindarte una más amplia variedad de canchas disponibles para tu elección.</h3>
            <h1>Como conseguir tu turno</h1>
            <div>
                <div class="steps">
                    <img src="img/buscar1.png" alt="buscar cancha">
                    <p>1) Buscar la cancha</p>
                </div>
                <div class="steps">
                    <img src="img/elegir3.png" alt="seleccionar cancha">
                    <p>2) Seleccionar el turno que deseas</p>
                </div>
                <div class="steps">
                    <img src="img/pagar1.png" alt="pagar">
                    <p>3) Pagar la seña por turno</p>
                </div>
            </div>
        </div>
        <div class="coment-users">
            <div class="coment">
                <img src="img/cancha.jpg" alt="foto-perfil">
                <p>Aqui va un comentario traido desde la base de datos cuando se pueda traer y que todo quede lindo al igual que la foto de arriba que sería la de perfil.</p>
            </div>
            <div class="coment">
                <img src="img/cancha.jpg" alt="foto-perfil">
                <p>Aqui va un comentario traido desde la base de datos cuando se pueda traer y que todo quede lindo al igual que la foto de arriba que sería la de perfil.</p>
            </div>
            <div class="coment">
                <img src="img/cancha.jpg" alt="foto-perfil">
                <p>Aqui va un comentario traido desde la base de datos cuando se pueda traer y que todo quede lindo al igual que la foto de arriba que sería la de perfil.</p>
            </div>
            <div class="coment">
                <img src="img/cancha.jpg" alt="foto-perfil">
                <p>Aqui va un comentario traido desde la base de datos cuando se pueda traer y que todo quede lindo al igual que la foto de arriba que sería la de perfil.</p>
            </div>
            <div class="coment">
                <img src="img/cancha.jpg" alt="foto-perfil">
                <p>Aqui va un comentario traido desde la base de datos cuando se pueda traer y que todo quede lindo al igual que la foto de arriba que sería la de perfil.</p>
            </div>
            <div class="coment">
                <img src="img/cancha.jpg" alt="foto-perfil">
                <p>Aqui va un comentario traido desde la base de datos cuando se pueda traer y que todo quede lindo al igual que la foto de arriba que sería la de perfil.</p>
            </div>
        </div>
    </section>