<div class="results">
    {{#each turn}}
    <div class="list">
        <a href="/selectTurn"><img src="img/Logo canchas/{{this.logo}}"></a>
        <div class="info">
            <a href="/selectTurn"><h3>{{this.name}}</h3></a>
            <p>${{this.price}}</p>
        </div>
    </div>
    {{/each}}
</div>
<script src="js/list.js"></script>
<script src="js/index.js"></script>