<div class="formContainerHTML">
    <form method="post" action="/user/logIn" class="formLog" id="formLog">
        <div class="inputData">
            <input type="text" name="user" id="inputUser" autocomplete="off">
            <label>Usuario:</label>
        </div>
        <div class="inputData">
            <input type="password" name="password" id="inputPassword">
            <label>Contraseña:</label>
        </div>
        <input type="submit" id="inputSubmit" class="btnLog" value="INGRESAR">
        <input type="submit" id="inputCancelar" class="btnLog" value="BORRAR">
        <p id="alert-p">{{pAlert}}</p>
    </form>
</div>