<div class="profile">
    <div class="inputData">
        <input type="text" id="input" autocomple="off" value="{{cookies.name}}">
        <label>Nombre</label>
    </div>
    <div class="inputData">
        <input type="text" id="input" autocomplete="off" value="{{cookies.email}}">
        <label>Email</label>
    </div>
    <div class="inputData">
        <input type="text" id="input" autocomplete="off" value="{{cookies.username}}">
        <label>Usuario</label>
    </div>
    <div class="inputData">
        <input type="password" id="input" value="{{cookies.password}}">
        <label>Contraseña</label>
    </div>
    <input type="submit" value="ACTUALIZAR">
</div>