<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/{{otherCSS}}">
    <title>{{docTitle}}</title>
</head>
<body>
    <header>
    <div class="nav-container">
        <nav class="main-nav">
            <a href="#">Iniciar Sesión</a>
            <a href="#">Registrarse</a>
            <a href="#">Contacto</a>
            <a href="#">F&Q</a>
        </nav>
    </div>
    </header>
    <h2>{{description}}</h2>
    <section>
        {{{body}}}
    </section>
    <footer class="end">
        <p>&copy; TU TURNO - 2021</p>
    </footer>
</body>
</html>