<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/{{otherCSS}}">
    <title>{{docTitle}}</title>
</head>
<body>
    <nav class="nav-container">
        <button id="btnSearch">Ver turnos disponibles<i class="fas fa-map-marker-alt"></i></button>
        <div class="userSection">
            <a href="#" id="signUp">Registrarse</a>
            <a href="#">Ingresar</a>
        </div>
    </nav>
    <section>
        <div class="filter">
            <i class="fas fa-question-circle" id="helpButton"></i>
            <div class="help helpHidden" id="helpContainer">
                <p>-Buscar por nombre de cancha</p>
                <p>-Buscar por horario deseado</p>
                <p>-Dejar campos vacios muestr las canchas con turnos disponibles</p>
            </div>
            <input tipe="text" id="inputStadium" placeholder="Cancha">
            <input type="time" min="14:00" max="23:00" id="inputTime">
            <input type="submit" id="inputSubmit" value="Filtrar">
            <p id="pAlert" class="alertHidden">Mensaje de alerta por acción incorrecta</p>
        </div>
        {{{body}}}
    </section>
    <footer class="end">
        <p>&copy; TU TURNO - 2021</p>
    </footer>
</body>
</html>